* {
  -webkit-user-select: none;
  font-family: AlrightSans, 'Helvetica Neue', Helvetica, Arial, 'Source Han Sans SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Microsoft JhengHei', sans-serif;
  margin: 0;
  padding: 0;
}
.section {
  position: relative;
}
.shine {
  -webkit-animation-name: flash;
  animation-name: flash;
}
@-webkit-keyframes shine {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes shine {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.float {
  -webkit-animation-name: float;
  animation-name: float;
}
@-webkit-keyframes float {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  33.3% {
    opacity: 0.6;
    -webkit-transform: scale(0.9);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes float {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  33.3% {
    opacity: 0.6;
    -webkit-transform: scale(0.9);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
.tapArea {
  position: relative;
}
#parallax_background {
  position: relative;
  width: 130%;
  height: 130%;
  top: -15%;
  left: -15%;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.container {
  height: 100vh;
  width: 56.3vh;
  margin: auto;
  top: 0;
  bottom: 0;
  /* vertical center */
  left: 0;
  right: 0;
  /* horizontal center */
  overflow: hidden;
  z-index: 1;
}
.fs {
  position: absolute;
  /*width: 100vw;
  height: 177.8vw;
  max-height: 100vh;
  max-width: 56.3vh;*/
  height: 100vh;
  width: 56.3vh;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
}
.next-page-arrow {
  background-image: url(../images/arrow.png)
}
#page-1 #logo {
  background-image: url(../images/1/logo.png);
}
#page-1 #seperator_top {
  background-image: url(../images/1/seperator_top.png);
}
#page-1 #seperator_bottom {
  background-image: url(../images/1/seperator_bottom.png);
}
#page-1 #text_left {
  background-image: url(../images/1/text_left.png);
}
#page-1 #text_right {
  background-image: url(../images/1/text_right.png);
}
#page-1 #text_bottom {
  background-image: url(../images/1/text_bottom.png);
}
#page-1 #drop {
  background-image: url(../images/1/drop.png);
}
#page-1 .water_drop {
  background-image: url(../images/1/water_drop.png);
}
#page-1 #hand {
  background-image: url(../images/1/hand.png);
}
#page-1 #inner_circle {
  background-image: url(../images/1/inner_circle.png);
}
#page-1 #outter_circle {
  background-image: url(../images/1/outter_circle.png);
}
#page-1 #text {
  background-image: url(../images/1/text.png);
}
#page-1 .tapArea {
  margin-left: 36%;
  margin-top: 50%;
  width: 25%;
  height: 12%;
}
#page-2 #arrow {
  background-image: url(../images/2/arrow.png);
}
#page-2 #info_container {
  background-image: url(../images/2/info_container.png);
}
#page-2 #info_text {
  background-image: url(../images/2/info_text.png);
}
#page-2 #step_1 {
  background-image: url(../images/2/step_1.png);
}
#page-2 #step_1_text {
  background-image: url(../images/2/step_1_text.png);
}
#page-2 #step_2 {
  background-image: url(../images/2/step_2.png);
}
#page-2 #step_2_text {
  background-image: url(../images/2/step_2_text.png);
}
#page-2 #step_3 {
  background-image: url(../images/2/step_3.png);
}
#page-2 #step_3_text {
  background-image: url(../images/2/step_3_text.png);
}
#page-3 #dot {
  background-image: url(../images/3/dot.png);
}
#page-3 #drop {
  background-image: url(../images/3/drop.png);
}
#page-3 #main {
  background-image: url(../images/3/main.png);
}
#page-3 #skin_bag {
  background-image: url(../images/3/skin_bag.png);
}
#page-3 #skin_bag_inner {
  background-image: url(../images/3/skin_bag_inner.png);
}
#page-3 #scene-1_bag {
  background-image: url(../images/3-1/bag.png);
}
#page-3 #scene-1-dot {
  background-image: url(../images/3-1/dot.png);
}
#page-3 #scene-1-drop {
  background-image: url(../images/3-1/drop.png);
}
#page-3 #scene-1-light {
  background-image: url(../images/3-1/light.png);
}
#page-3 #scene-1-main_bottom {
  background-image: url(../images/3-1/main_bottom.png);
}
#page-4 #dot {
  background-image: url(../images/4/dot.png);
}
#page-4 #hand {
  background-image: url(../images/4/hand.png);
}
#page-4 #main {
  background-image: url(../images/4/main.png);
}
#page-4 #text {
  background-image: url(../images/4/text.png);
}
#page-4 #scene-1-dot {
  background-image: url(../images/4-1/dot.png);
}
#page-4 #scene-1-flash {
  background-image: url(../images/4-1/flash.png);
}
#page-4 #scene-1-text {
  background-image: url(../images/4-1/text.png);
}
#page-5 #arrow {
  background-image: url(../images/5/arrow.png);
}
#page-5 #arrow_big {
  background-image: url(../images/5/arrow_big.png);
}
#page-5 #arrow_middle {
  background-image: url(../images/5/arrow_middle.png);
}
#page-5 #face {
  background-image: url(../images/5/face.png);
}
#page-5 #zoom {
  background-image: url(../images/5/zoom.png);
}
#page-6 #phone {
  background-image: url(../images/6/phone.png);
}
#page-6 #seperator {
  background-image: url(../images/6/seperator.png);
}
#page-6 #text {
  background-image: url(../images/6/text.png);
}
#page-6 #vibration {
  background-image: url(../images/6/vibration.png);
}
#page-7 #arrow {
  background-image: url(../images/7/arrow.png);
}
#page-7 #hand {
  background-image: url(../images/7/hand.png);
}
#page-7 #head {
  background-image: url(../images/7/head.png);
}
#page-7 #sun {
  background-image: url(../images/7/sun.png);
}
#page-7 #scene-1-head {
  background-image: url(../images/7-1/head.png);
}
#page-7 #scene-1-sun {
  background-image: url(../images/7-1/sun.png);
}
#page-7 .tapArea {
  margin-left: 60%;
  margin-top: 10%;
  width: 15%;
  height: 10%;
}
#page-8 #logo {
  background-image: url(../images/8/logo.png);
}
#page-8 #seperator_bottom {
  background-image: url(../images/8/seperator_bottom.png);
}
#page-8 #seperator_top {
  background-image: url(../images/8/seperator_top.png);
}
#page-8 #text_bottom {
  background-image: url(../images/8/text_bottom.png);
}
#page-8 #text_top {
  background-image: url(../images/8/text_top.png);
}
#page-8 #video_container {
  background-image: url(../images/8/video_container.png);
}
#page-8 #video_play {
  background-image: url(../images/8/video_play.png);
}
