#intro-page {
  #logo {
    content: url(../images/logo.png);
  }
  #seperator_top {
    content: url(../images/intro/seperator_top.png);
  }
  #seperator_bottom {
    content: url(../images/intro/seperator_bottom.png);
  }
  #text_left {
    content: url(../images/intro/text_left.png);
  }
  #text_right {
    content: url(../images/intro/text_right.png);
  }
  #text_bottom {
    content: url(../images/intro/text_bottom.png);
  }
  #drop {
    content: url(../images/intro/drop.png);
  }
  .water_drop {
    content: url(../images/intro/water_drop.png);
  }
  #hand {
    content: url(../images/intro/hand.png);
  }
  #inner_circle {
    content: url(../images/intro/inner_circle.png);
  }
  #outter_circle {
    content: url(../images/intro/outter_circle.png);
  }
  #text {
    content: url(../images/intro/text.png);
  }
  .tapArea {
    margin-left: 36%;
    margin-top: 50%;
    width: 25%;
    height: 12%;
  }
}
#usage-page {
  #scroll-container {
    content: url(../images/usage/scroll_container.png);
  }
  #scroll-text {
    content: url(../images/usage/scroll_text.png);
  }
  #mask {
    content: url(../images/usage/mask.png);
  }
  #face {
    content: url(../images/usage/face.png);
  }
  .arrow-indicator{
  }
  .arrow-next{
    content: url(../images/usage/arrow_next.png);
  }
  .arrow-prev{
    content: url(../images/usage/arrow_prev.png);
  }
  .scene-1 {
    .text {
      content: url(../images/usage/1/text.png);
    }
    .left-hand {
      content: url(../images/usage/1/left_hand.png);
    }
    .right-hand {
      content: url(../images/usage/1/right_hand.png);
    }
    .arrow {
      content: url(../images/usage/1/arrow.png);
    }
  }
  .scene-2 {
    .text {
      content: url(../images/usage/2/text.png);
    }
    .left-hand {
      content: url(../images/usage/2/left_hand.png);
    }
    .right-hand {
      content: url(../images/usage/2/right_hand.png);
    }
    .arrow {
      content: url(../images/usage/2/arrow.png);
    }
  }
  .scene-3 {
    .text {
      content: url(../images/usage/3/text.png);
    }
    .left-hand {
      content: url(../images/usage/3/left_hand.png);
    }
    .right-hand {
      content: url(../images/usage/3/right_hand.png);
    }
    .arrow {
      content: url(../images/usage/3/arrow.png);
    }
  }
}
#inside-skin-page {
  .scene-1 {
    .arrow {
      content: url(../images/inside-skin/1/arrow.png);
    }
    .hand {
      content: url(../images/inside-skin/1/hand.png);
    }
    .magnifier {
      content: url(../images/inside-skin/1/magnifier.png);
    }
    .head {
      content: url(../images/inside-skin/1/head.png);
    }
  }
  .scene-2 {
    .arrow {
      content: url(../images/inside-skin/2/arrow.png);
    }
    .cell {
      content: url(../images/inside-skin/2/cell.png);
    }
    .hand {
      content: url(../images/inside-skin/2/hand.png);
    }
    .magnifier {
      content: url(../images/inside-skin/2/magnifier.png);
    }
    .magnifier-mask {
      content: url(../images/inside-skin/2/magnifier_mask.png);
    }
  }
}
#power-skin-up-page {
  .scene-1 {
    .cell {
      content: url(../images/power-skin-up/1/cell.png);
    }
    .drop {
      content: url(../images/power-skin-up/1/drop.png);
    }
    .drop-down {
      content: url(../images/power-skin-up/1/drop_down.png);
    }
  }
  .scene-2 {
    .cell {
      content: url(../images/power-skin-up/2/cell.png);
    }
    .mitochondria{
      content: url(../images/power-skin-up/2/mitochondria.png);
    }
    .drop {
      content: url(../images/power-skin-up/2/drop.png);
    }
    .light {
      content: url(../images/power-skin-up/2/light.png);
    }
    .text {
      content: url(../images/power-skin-up/2/text.png);
    }
  }
}
#game-page {
  #phone {
    content: url(../images/game/phone.png);
  }
  #seperator {
    content: url(../images/game/seperator.png);
  }
  #text {
    content: url(../images/game/text.png);
  }
  #vibration {
    content: url(../images/game/vibration.png);
  }
  #ball-container{
    opacity: 0;
  }
}
#another-game-page {
  #mask-old {
    content: url(../images/another-game/mask_old.png);
  }
  #mask-new {
    content: url(../images/another-game/mask_new.png);
  }
  #hand {
    content: url(../images/another-game/hand.png);
  }
  #cell-container {
    .cell {
      -webkit-transition: all 1s;
      content: url(../images/another-game/cell.png);
    }
    .cell:nth-child(1) {
      top: 14%;
  left: 10%;
    }
    .cell:nth-child(2) {
      top: 40%;
  left: 2%
    }
    .cell:nth-child(3) {
      top: 33%;
  left: 23%
    }
    .cell:nth-child(4) {
      top: 45%;
  left: 30%
    }
    .cell:nth-child(5) {
      top: 40%;
  left: 62%
    }
    .cell:nth-child(6) {
      top: 40%;
left: 62%
    }
    .cell:nth-child(7) {
      top: 20%;
  left: 60%
    }
    .cell:nth-child(8) {
      top: 20%;
  left: 20%
    }
    .cell:nth-child(9) {
      top: 50%;
      left: 50%;
    }
  }
  #cell-container.repaire {
    .cell:nth-child(1) {
      top: 0;
      left: 0;
    }
    .cell:nth-child(2) {
      top: 18.7%;
      left: 0;
    }
    .cell:nth-child(3) {
      top: 37.4%;
      left: 0;
    }
    .cell:nth-child(4) {
      top: 0;
      left: 33%;
    }
    .cell:nth-child(5) {
      top: 18.7%;
      left: 33%;
    }
    .cell:nth-child(6) {
      top: 37.4%;
      left: 33%;
    }
    .cell:nth-child(7) {
      top: 0;
      left: 66%;
    }
    .cell:nth-child(8) {
      top: 18.7%;
      left: 66%;
    }
    .cell:nth-child(9) {
      top: 37.4%;
      left: 66%;
    }
  }
}
#change-page {
  #hand {
    content: url(../images/change/hand.png);
  }
  #head {
    content: url(../images/change/head.png);
    -webkit-filter: grayscale(0.6);
    filter:grayscale(0.6);
    transition: 1s -webkit-filter linear;
  }
  .change {
    -webkit-filter: grayscale(0)!important;
    filter:grayscale(0)!important;
  }
  .tapArea {
    margin-left: 60%;
    margin-top: 10%;
    width: 15%;
    height: 10%;
  }
}
#end-page {
  #logo {
    content: url(../images/logo.png);
  }
  #seperator_bottom {
    content: url(../images/end/seperator_bottom.png);
  }
  #seperator_top {
    content: url(../images/end/seperator_top.png);
  }
  #text_bottom {
    content: url(../images/end/text_bottom.png);
  }
  #text_top {
    content: url(../images/end/text_top.png);
  }
  #video_container {
    content: url(../images/end/video_container.png);
  }
  #video_play {
    content: url(../images/end/video_play.png);
  }
}
.usage-type-1-left {
  -webkit-animation-name: usage-type-1-left;
  animation-name: usage-type-1-left;
}
.usage-type-1-right {
  -webkit-animation-name: usage-type-1-right;
  animation-name: usage-type-1-right;
}
@-webkit-keyframes usage-type-1-left {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(15%, 10%, 0);
  }
  80% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes usage-type-1-right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-15%, 10%, 0);
  }
  80% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
.usage-type-2-left {
  -webkit-animation-name: usage-type-2-left;
  animation-name: usage-type-2-left;
}
.usage-type-2-right {
  -webkit-animation-name: usage-type-2-right;
  animation-name: usage-type-2-right;
}
@-webkit-keyframes usage-type-2-left {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
  }
  80% {
    opacity: 1;
    -webkit-transform: translate3d(-20%, -10%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, -10%, 0);
  }
}
@-webkit-keyframes usage-type-2-right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
  }
  80% {
    opacity: 1;
    -webkit-transform: translate3d(20%, -10%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(20%, -10%, 0);
  }
}
.usage-type-3-left {
  -webkit-animation-name: usage-type-3-left;
  animation-name: usage-type-3-left;
}
.usage-type-3-right {
  -webkit-animation-name: usage-type-3-right;
  animation-name: usage-type-3-right;
}
@-webkit-keyframes usage-type-3-left {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
  }
  80% {
    opacity: 1;
    -webkit-transform: translate3d(-10%, -10%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-10%, -10%, 0);
  }
}
@-webkit-keyframes usage-type-3-right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
  }
  80% {
    opacity: 1;
    -webkit-transform: translate3d(10%, -10%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(10%, -10%, 0);
  }
}
