#intro-page {
  #logo {
    background-image: url(../images/intro/logo.png);
  }
  #seperator_top {
    background-image: url(../images/intro/seperator_top.png);
  }
  #seperator_bottom {
    background-image: url(../images/intro/seperator_bottom.png);
  }
  #text_left {
    background-image: url(../images/intro/text_left.png);
  }
  #text_right {
    background-image: url(../images/intro/text_right.png);
  }
  #text_bottom {
    background-image: url(../images/intro/text_bottom.png);
  }
  #drop {
    background-image: url(../images/intro/drop.png);
  }
  .water_drop {
    background-image: url(../images/intro/water_drop.png);
  }
  #hand {
    background-image: url(../images/intro/hand.png);
  }
  #inner_circle {
    background-image: url(../images/intro/inner_circle.png);
  }
  #outter_circle {
    background-image: url(../images/intro/outter_circle.png);
  }
  #text {
    background-image: url(../images/intro/text.png);
  }
  .tapArea {
    margin-left: 36%;
    margin-top: 50%;
    width: 25%;
    height: 12%;
  }
}
#usage-page {

}
#inside-skin-page {

}
#power-skin-up-page {

}
#game-page {
  #phone {
    background-image: url(../images/game/phone.png);
  }
  #seperator {
    background-image: url(../images/game/seperator.png);
  }
  #text {
    background-image: url(../images/game/text.png);
  }
  #vibration {
    background-image: url(../images/game/vibration.png);
  }
}
#change-page {
  #hand {
    background-image: url(../images/change/hand.png);
  }
  #head {
    background-image: url(../images/change/head-before.png);
    -webkit-filter: grayscale(0.6);
    filter:grayscale(0.6);
  }
  #scene-1-head {
    background-image: url(../images/change/head-after.png);
  }
  .tapArea {
    margin-left: 60%;
    margin-top: 10%;
    width: 15%;
    height: 10%;
  }
}
#end-page {
  #logo {
    background-image: url(../images/end/logo.png);
  }
  #seperator_bottom {
    background-image: url(../images/end/seperator_bottom.png);
  }
  #seperator_top {
    background-image: url(../images/end/seperator_top.png);
  }
  #text_bottom {
    background-image: url(../images/end/text_bottom.png);
  }
  #text_top {
    background-image: url(../images/end/text_top.png);
  }
  #video_container {
    background-image: url(../images/end/video_container.png);
  }
  #video_play {
    background-image: url(../images/end/video_play.png);
  }
}
